/.idea

.DS_Store

/__pycache__
/*/__pycache__
/*/*/__pycache__
/*/*/*/__pycache__

/venv

/files/emails.txt
/files/evm_keys.txt
/files/proxies.txt
/files/twitters.txt
/files/withdraw_addresses.txt

/storage/*
!/storage/.gitkeep

/.backup/*
!/.backup/.gitkeep

/results/*
!/results/.gitkeep

/logs/*
!/logs/.gitkeep
